@import "breakpoints";

.clock {
  grid-column: 1 / 2;
  grid-row: 2;
  align-self: end;
  display: grid;
  grid-gap: 24px;

  &__text, &__abbreviation {
    @include xxlarge;
  }

  &__time {
    @include time-font;
  }

  &__time-text {
    @include xxlarge-bold
  }

  &__greeting-icon {
    height: 50px;
  }

  &__greeting {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    grid-gap: 16px;
  }
}

@include mediumViewport  {
  .clock {
    grid-column: 1;
    grid-row: 2;
    grid-gap: 16px;
    align-self: center;

    &__time {
      font-size: 64px;
    }
  }
}
