*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100vh;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Roboto Mono', monospace, sans-serif;
  color: #fafafa;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}
